<head>
    <meta charset="utf-8">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E0BP9PGK6H"></script>
    <script type="text/javascript" src="/js/google.js"></script>
    <title><%= title %> | 3D-Chat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="Owner" content="Timon Fiedler" contact="fiedlertimon@gmail.com">
    <meta name="Manager" content="Timon Fiedler" contact="fiedlertimon@gmail.com">
    <meta name="Developper" content="Timon Fiedler" contact="fiedlertimon@gmail.com">
    <meta name="Homepage" content="https://www.timondev.vip">
    <meta name="Chatapp" content="https://chat.timondev.vip">
    <meta name="Created" content="<%= date.toString() %>">
    <meta name="description" content="<%= desc %>">
    <meta name="google" content="nositelinkssearchbox">
    <meta name="robots" content="index,follow">
    <meta property="og:title" content="<%= title %> | 3D-Chat">
    <meta property="og:url" content="https://chat.timondev.vip/<%= path %>">
    <meta property="og:description" content="<%= desc %>">
    <meta property="og:image" content="/img/logo.jpg">
    <meta property="og:image:type" content="image/jpg">
    <link rel="icon" type="image/jpg" href="/img/logo.jpg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/style.css"><% 
    if (title === "Home") { %>
    <link rel="stylesheet" href="/css/home.css"><% }; %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap">
    <script type="importmap">
        {
            "imports": {
                "three": "/components/threejs",
                "three/addons/": "/components/threejs/addons/",
                "@barba/core": "/components/barba",
                "gsap": "/components/gsap",
                "timonjs": "/components/timonjs/module"
            }
        }
    </script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/components/gsap"></script>
    <script type="text/javascript" src="/components/crypto"></script>
    <script type="text/javascript" src="/components/timonjs"></script>
    <script type="text/javascript" src="/js/global.js" defer></script>
    <script type="text/javascript" src="/js/constants.js" defer></script>
    <script type="text/javascript" src="/js/functions.js" defer></script>
    <script type="text/javascript" src="/js/io.js" defer></script>
    <script type="text/javascript" src="/js/barba.js" defer></script>
    <script type="text/javascript" src="/js/gsap.js" defer></script>
    <script type="text/javascript" src="/js/chat.js" defer></script>
</head>