<head>
    <meta charset="utf-8"><%
    if (ENVIRONMENT === "prod") { %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E0BP9PGK6H"></script>
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-E0BP9PGK6H');
    </script><% 
    }; %>
    <title><%= title %> | LevyCrypt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="Owner" content="Timon Fiedler" contact="fiedlertimon@gmail.com">
    <meta name="Manager" content="Timon Fiedler" contact="fiedlertimon@gmail.com">
    <meta name="Developer" content="Timon Fiedler" contact="fiedlertimon@gmail.com">
    <meta name="Homepage" content="https://www.timondev.com">
    <meta name="Created" content="<%= date.toString() %>">
    <meta name="description" content="<%= desc %>">
    <meta name="google" content="nositelinkssearchbox">
    <meta name="robots" content="index,follow">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@firezunami">
    <meta name="twitter:title" content="<%= title %> | LevyCrypt">
    <meta name="twitter:description" content="<%= desc %>">
    <meta name="twitter:image" content="/img/logo.png">
    <meta property="og:title" content="<%= title %> | LevyCrypt">
    <meta property="og:url" content="<%= ORIGIN + path %>">
    <meta property="og:description" content="<%= desc %>">
    <meta property="og:image" content="/img/logo.png">
    <meta property="og:image:type" content="image/png">
    <link rel="icon" type="image/ico" href="/img/logo.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/global.min.css">
    <link rel="stylesheet" href="/css/style.min.css"><% 
    if (title === "Home") { %>
    <link rel="stylesheet" href="/css/home.min.css"><% }; %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
    <script type="importmap">
        {
            "imports": {
                "three": "https://cdn.jsdelivr.net/npm/three/build/three.module.min.js",
                "three/addons/": "https://cdn.jsdelivr.net/npm/three/examples/jsm/",
                "@barba/core": "https://cdn.jsdelivr.net/npm/@barba/core/dist/barba.mjs",
                "gsap": "https://cdn.skypack.dev/gsap",
                "timonjs": "https://cdn.jsdelivr.net/npm/timonjs@1.0.3/dist/timon.module.min.mjs",
                "socket.io": "https://cdn.socket.io/4.7.5/socket.io.esm.min.js",
                "crypto": "/js/crypto.min.js",
                "user": "/js/user.js",
                "functions": "/js/functions.min.js"
            }
        }
    </script>
    <script type="module" src="/js/global.js" defer></script>
    <script type="module" src="/js/functions.min.js" defer></script>
    <script type="module" src="/js/io.js" defer></script>
    <script type="module" src="/js/barba.js" defer></script>
    <script type="module" src="/js/gsap.js" defer></script><%
    if (path.includes("chat")) { %>
    <script type="module" src="/js/chat.js" defer></script><% };
    if (user?.valid) { %>
    <script type="module" src="/js/user.js" defer></script><% };
    if (typeof extra !== "undefined") { %>
    <%- extra %><% }; %>
</head>